@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&family=Source+Sans+Pro:wght@300&display=swap');


body{
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1{
  display:flex;
  justify-content: center;
  padding: 10px;;
  font-family: 'Josefin Sans', sans-serif;
  font-size:7vw;
  margin:10px;
}
h2{
  display:flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  margin: 25px;
  font-size: 275%;
}

h3{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  margin:15px;
}

.projectLink:hover{
  color:rgb(135, 206, 250);
  display:flex;
 
}

.nav-link{
  color:#999999;
}
.nav-link:hover{
  color:rgb(135, 206, 250)
}
.nav-link.active{
  color:rgb(135, 206, 250)!important
}
.nav-link:visited{
  color:#999999 !important
}

.nav-link:focus {
  color:#999999
}
.navDropdown{
  color: #999999;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: #999999;
}

.navToggle{
  color:white;
}

.navbar{
  background-color: black;
  
}

.parentDiv{
  background-color: black;
  display:flex;
  flex-direction:column;
  row-gap:20px;
  align-items: center;
  padding-bottom:25px;
}

.headerDiv{
  display:flex;
  align-self:center;
  padding:20px;
  color:#999999;
}

.foot{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  margin-left: 8%;
  margin-right:8%;
}
.linkContainer{
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  

}
.lightning{

 height:12vw;

}

.bold-storm{
  padding-top: 30px;;
}

.short-bio{

  width: 320px;
  margin:35px;
  color:#999999;
  text-align:right;
  font-size:18px;
  
}

.about-bio{
  display:flex;
  justify-content: center;
  width: 85%;
  text-align:center;
  border: 2px solid #999999;
  font-size:115%;
  color:#999999;
  border-radius: 2px;
  padding-left:8vw;
  padding-right:8vw;
  padding-bottom:3vw;

}

.about-pic{
  display:flex;
  justify-content: center;
  
  width: 85%;
  text-align:center;
  border: 2px solid #999999;
  
  color:#999999;
  border-radius: 2px;
  padding-bottom:3vw;

}

.navbar-toggler {
  border: 3px solid white;
}

.cmdLines{
  display:flex;
  justify-content: center;
  width: 85%;
  text-align:center;
  border: 2px solid #999999;
  color:#999999;
  border-radius: 2px;
  padding-bottom: 3vw;
}

.toolkit{
  height:48px;
  margin:25px;
}
.aws{
  height:48px;
  margin-right:15px;
  
}



.out-links{
  width:80px;
  padding:20px;
}

.homeBody{
  background-color:#999999;
}

.greeting{
  color:rgb(135, 206, 250);
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  column-gap:5rem;
  border: 2px solid #999999;
  padding:3vw;
  width:85%;
}

.languageContainer{
  opacity:0;
}

.project-carousel .carousel-control-prev-icon, .project-carousel .carousel-control-next-icon {
  background-color:rgb(135, 206, 250);
  border-radius:5px
}

.project-carousel .carousel-indicators{
  background-color:rgb(135, 206, 250);
  border-radius:20px;
  margin-left:300px;
  margin-right:300px;
  display:flex;
 

}

